<div *ngIf="apiLoaded | async">
  <google-map height="100vh"
              width="100vw"
              [options]="options">
    <map-marker #marker="mapMarker"
                *ngFor="let markerData of markerDataList; trackBy: trackByFn"
                [position]="markerData.position"
                [icon]="icon"
                (mapClick)="openInfoWindow(marker, markerData.info)"></map-marker>
    <map-info-window>
      <div *ngIf="infoWindowContent.lineName"><b>{{infoWindowContent.lineName}}</b></div>
      <div *ngIf="infoWindowContent.operatorName">{{infoWindowContent.operatorName}}</div>
      <div *ngIf="infoWindowContent.busId">Vehicle Id: {{infoWindowContent.busId}}</div>
    </map-info-window>
  </google-map>
</div>
<mat-card class="line-card">
  <mat-tab-group>
    <mat-tab label="Buses">
      <form class='line-filter'>
        <mat-form-field class='line-filter-full' appearance='fill'>
          <mat-label>Bus Line</mat-label>
          <input matInput type="text"
                 placeholder="Pick a line"
                 aira-label="Bus Line"
                 [formControl]="lineControl"
                 [matAutocomplete]="auto"
                 (keyup.enter)="updateMap()">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let lineName of filteredLineNames | async" [value]="lineName" (click)="updateMap()">
              {{lineName}}
            </mat-option>
          </mat-autocomplete>
          <button type="button" *ngIf="lineControl.value" matSuffix mat-icon-button aria-label="Clear" (click)="reset()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </mat-tab>
    <mat-tab label="Info">
      <p>This is a website where you can see the locations of all currently running busses in the San Francisco Bay Area</p>
      <p>Under the Busses tab, you can select a bus line to see all the busses in that line</p>
      <p>You can also click on a bus to see some more info</p>
    </mat-tab>
  </mat-tab-group>
</mat-card>
